/************/
/*  fonts   */
/************/
/* sniglet-extraBold */
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@800&display=swap');

/* jalnan */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* jua */
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
#container {
    margin: 0 auto; /* 화면 중간에 배치 */
    width: 1440px;
    position: relative;
}
/****************/
/*  헤더 영역   */
/****************/
header {
    width: 100%;
    height: 122px;
    position: relative;
}

/****************/
/*  로고 영역   */
/****************/
#logo {
    position: absolute;
    width: 219px;
    height: 91px;
    top: 31px;
    left: 60px;
}

#logo h1 {
    float: left;
    top: 26px;
    font-family: 'Sniglet', cursive;
    font-weight: 700;
    font-size: 55px;
    text-align: center;
}
#logo h1:nth-of-type(2) {
    color: #FEB59E;
}

#logo h5 {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    font-family: 'BMJUA';
    margin: 0 auto;
    width: 152px;
    height: 26px;
}

/****************/
/*  콘텐츠 영역 */
/****************/
#lottoMachine img {
    position: absolute;
    width: 571px;
    height: 679px;
    top: 204px;
    left: 435px;
}

#stop {
    position: absolute;
    width: 237px;
    height: 96px;
    left: 600px;
    top: 728px;
    background-color: #FFFFFF;
    font-size: 35px;
    font-family: 'Jalnan';
    border: none;
    border-radius: 20px;
}

#stop:hover {
    font-size: 40px;
}

#lottoBall div{
    width: 96px;
    height: 92px;
    border-radius: 50%;
}

.frontBall {
    background-color: #FEB59E;
}

.backBall {
    background-color: #CA8873;
}

@keyframes ball1-ani {
    from {transform: translate(0, 0);}
    to {transform: translate(200px, 300px);}
}

@keyframes ball2-ani {
    from {transform: translate(0, 0);}
    to {transform: translate(-100px, 350px);}
}

@keyframes ball3-ani {
    from {transform: translate(0, 0);}
    to {transform: translate(100px, -350px);}
}

@keyframes ball4-ani {
    from {transform: translate(0, 0);}
    to {transform: translate(350px, -90px);}
}

@keyframes ball5-ani {
    from {transform: translate(0, 0);}
    to {transform: translate(350px, 100px);}
}

@keyframes ball6-ani {
    from {transform: translate(0, 0);}
    to {transform: translate(-450px, -120px);}
}

@keyframes ball7-ani {
    from {transform: translate(0, 0);}
    to {transform: translate(-420px, -120px);}
}

@keyframes ball8-ani {
    from {transform: translate(0, 0);}
    to {transform: translate(-200px, 100px);}
}

@keyframes ball9-ani {
    from {transform: translate(0, 0);}
    to {transform: translate(400px, -100px);}
}
#ball1 {
    position: absolute;
    left: 538px;
    top: 271px;
    animation: ball1-ani 0.5s linear infinite alternate;
}

#ball2 {
    position: absolute;
    left: 727.5px;
    top: 220px;
    animation: ball2-ani 0.4s linear infinite alternate;
}

#ball3 {
    position: absolute;
    left: 571px;
    top: 569px;
    animation: ball3-ani 0.5s linear infinite alternate;
}

#ball4 {
    position: absolute;
    left: 469px;
    top: 414px;
    animation: ball4-ani 0.4s linear infinite alternate;
}

#ball5 {
    position: absolute;
    left: 538px;
    top: 271px;
    animation: ball5-ani 0.5s linear infinite alternate;
}

#ball6 {
    position: absolute;
    left: 877px;
    top: 530px;
    animation: ball6-ani 0.4s linear infinite alternate;
}

#ball7 {
    position: absolute;
    left: 887px;
    top: 430px;
    animation: ball7-ani 0.5s linear infinite alternate;
}

#ball8 {
    position: absolute;
    left: 824px;
    top: 271px;
    animation: ball8-ani 0.3s linear infinite alternate;
}

#ball9 {
    position: absolute;
    left: 503px;
    top: 569px;
    animation: ball9-ani 0.5s linear infinite alternate;
}