/************/
/*  fonts   */
/************/
/* sniglet-extraBold */
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@800&display=swap');

/*sniglet-regular*/
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

/* jua */
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* jalnan */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Inter-Black900 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
#container {
    margin: 0 auto; /* 화면 중간에 배치 */
    width: 1440px;
}
/****************/
/*  헤더 영역   */
/****************/
header {
    width: 100%;
    height: 122px;
    position: relative;
}

/****************/
/*  로고 영역   */
/****************/
#logo {
    position: absolute;
    width: 219px;
    height: 91px;
    margin-top: 31px;
    margin-left: 60px;
}

#logo h1 {
    float: left;
    margin-top: 26px;
    font-family: 'Sniglet', cursive;
    font-weight: 700;
    font-size: 55px;
    color: #70A36C;
}
#logo h1:nth-of-type(2) {
    color: #FEB59E;
}

#logo h5 {
    position: absolute;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    font-family: 'BMJUA';
    margin-left: 34px;
    padding: 10px 0px;
    color: #70A36C;
}
/*****************/
/*  콘텐츠 영역  */
/*****************/
#contents {
    position: relative;
    width: 100%;
    height: 902px;
}

#explanation {
    width: 736px;
    height: 902px;
    float: left;
}

#icon {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    line-height: 121px;
    position: absolute;
    font-size: 100px;
    color:#70A36C;
    margin: 98px 201px;
    width: 109px;
    height: 108px;
}

#comment {
    font-family: 'Jalnan';
    color: #fff;
    background-color: #BFE5BC;
    width: 305.72px;
    height: 342px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 206px 310.28px;
}

#comment p {
    position: absolute;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    font-weight: 200;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    left: 359px;
    top: 273px;
}

#comment button {
    position: absolute;
    font-family: 'Sniglet', cursive;
    border: none;
    background-color: white;
    border-radius: 20px;
    width: 111.87px;
    height: 54.42px;
    font-size: 20px;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
    top: 353px;
    left: 359px;
}

#lottoMachine {
    position: relative;
    width: 704px;
    height: 902px;
    float: left;
}

#lottoMachine > img {
    margin-top: 114px;
}

#start {
    position: absolute;
    font-family: 'Sniglet', cursive;
    width: 215.42px;
    height: 86.1px;
    font-size: 30px;
    border-radius: 20px;
    border: none;
    background-color: white;
    margin-top: 583.98px;
    left: 149.97px;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}

#start:hover {
    font-size: 35px;
    box-shadow: none;
}

