.iceBreaking-logo {
    color: #70A36C;
}

.icBreaking-contents {
    background-color: #BFE5BC
}

.soloing-logo {
    color: #FFCD18;
}

.soloing-contents {
    background-color: #FFF48D
}

.wrong {
    background-color: #FEB59E;
}