@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@800&display=swap');

*{margin:0; padding:0;}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
    width: 1440px;
    height: 1024px;

    background-color: #F1F7ED;


}

h1{
	position:relative;
	font-family:'Sniglet', cursive;
    text-shadow:4px 4px 4px rgba(0,0,0,0.5);
	font-style:normal; /*이탈릭, 기울어짐꼴*/
	font-size:2rem; /*픽셀과의 차이*/ 
    /*font-weight:800; 글꼴별 차이 -> 해당 문서는 생략 */
	/*line-height:62px; 줄간격*/
	color:#FFE76B; /*원래 글자색*/ 
	/*mix-blend-mode:normal; 서로 다른 요소 겹쳐 색상에 대한 효과 줌 */
	

}

h1::before{
    content:attr(data-text); 
    /*요소 속성 값을 문자열로 반환-> 속성값이 없으면 빈 문자열*/
    position:absolute;
    left:0; z-index:2;

    overflow:hidden; 
    /*빠져나온 공간 숨김-> 삭제 시 아래의 노랑이 안보임 */
    /*overflow:visible - 공간보다 콘텐트가 큰 경우 컨텐트를 밖으로 밀어내더라도 보이도록*/ 
    animation:loading 2s ease infinite;
    /*2초 동안 나타남을 반복*/
    color: #BFE5BC; 
    width:100%;
    
}


@keyframes loading{ /*keyframe 이름*/
    from{width:0%;} /*해당 글자 기준 분할 (스테이지) */
    to{width:100%;} 
    /*50%이면 절반으로*/
    /*100%에서 0%는 반대 방향*/
}

@keyframes loadingLine{
    from {width:0%;}
    to {width:100%;}
}